body {
    background-color:#000000 ;
    color: #ffffff;
    font-family: Arial, sans-serif;
    
}


header {
    
    display:flex;
   
    align-items:center;
    padding: 1rem 2rem;
    background-color:#9d0505;
    color:white;
    margin:0;
}

nav {
    display: flex;
    justify-content:space-between;
    align-items:center;
    width: 100%;
    
}


nav ul {
    list-style:none;
    display:flex;
    gap:5rem;
    margin:0;
    padding:0;
}

nav ul a {
    text-decoration: none;
    color:#000000;
    font-weight: bold;
    font-size: 20px;
}
#navnaam a {
    font-size:30px;

}

h1 {
    color:rgb(19, 238, 37);
}
.input-box {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: seagreen;
}

.wrapper {
    width: 420px;
    background: purple;
    color:white;

}

.wrapper h1 {
    font-size: 36px;
    text-align: center;   
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    background: salmon;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
}
