body {
    background-color:#000000 ;
    color: #ffffff;
    font-family: Arial, sans-serif;
    
}


header {
    
    display:flex;
   
    align-items:center;
    padding: 1rem 2rem;
    background-color:#9d0505;
    color:white;
    margin:0;
}

nav {
    display: flex;
    justify-content:space-between;
    align-items:center;
    width: 100%;
    
}


nav ul {
    list-style:none;
    display:flex;
    gap:5rem;
    margin:0;
    padding:0;
}

nav ul a {
    text-decoration: none;
    color:#000000;
    font-weight: bold;
    font-size: 20px;
}
#navnaam a {
    font-size:30px;

}

h1 {
    color:rgb(19, 238, 37);
}
